<!DOCTYPE html>

<html>

<head>

  <title>Vision</title>
  <link rel="icon"
    href="https://www.emoji.co.uk/files/microsoft-emojis/symbols-windows10/10198-globe-with-meridians.png">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <script type="text/javascript" src="/scripts/jquery-2.1.3.min.js"></script>


  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/public/css/options.css">

</head>

<body>

  <div class='container'>

    <div class='rows'>

      <div class="row">

        <div class='sub-section'>
          <div class="field">
            <p class="title">First Name</p>
            <input class="value" id="firstName"></input>
          </div>
          <div class="field">
            <p class="title">Last Name</p>
            <input class="value" id="lastName"></input>
          </div>
          <div class="field">
            <p class="title">Email</p>
            <input class="value" id="email"></input>
          </div>
          <div class="field">
            <p class="title">Phone</p>
            <input class="value" id="phone"></input>
          </div>
          <div class="field">
            <p class="title">Address 1</p>
            <input class="value" id="address1"></input>
          </div>
          <div class="field">
            <p class="title">Address 2</p>
            <input class="value" id="address2"></input>
          </div>
          <div style="margin-bottom:20px" class="field">
            <p class="title">Country</p>
            <input class="value" id="country"></input>
          </div>
        </div>

      </div>

      <div class="row">

        <div class='sub-section'>
          <div class="field">
            <p class="title">State</p>
            <input class="value" id="state"></input>
          </div>
          <div class="field">
            <p class="title">City</p>
            <input class="value" id="city"></input>
          </div>
          <div class="field">
            <p class="title">Zipcode</p>
            <input class="value" id="zipcode"></input>
          </div>
          <div class="field">
            <p class="title">Card Number</p>
            <input class="value" id="cardNumber"></input>
          </div>
          <div class="field">
            <p class="title">Expiry Month (mm)</p>
            <input class="value" id="expMonth"></input>
          </div>
          <div class="field">
            <p class="title">Expiry Year (yy)</p>
            <input class="value" id="expYear"></input>
          </div>
          <div style="margin-bottom:20px" class="field">
            <p class="title">CVV</p>
            <input class="value" id="cvv"></input>
          </div>
        </div>

      </div>

    </div>

    <div class="buttons">
      <button class="save">Save</button>
    </div>


  </div>

  <script type="text/javascript" src="/scripts/options.js"></script>
  <script type="text/javascript" src="/scripts/interceptor.js"></script>

</body>

</html>